<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="post">


            <article class="post-content">
          
                您所查看的内容可能因为某种原因已经被移除，您可以看看下面文章列表是否有感兴趣的内容。

                <h1>
                <i class="far fa-folder-open">Category:</i>&nbsp;Gameboy游戏开发&nbsp;&nbsp;
                </h1>
                <ul>
                {% for post in site.categories.gameboy %}
                
                <li>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                    
                <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                </li>
                
                {% endfor %}
                </ul>
            </article>
          </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
